<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer-logo">
                <img src="/assets/images/mevius_logo_only.svg" alt="MEVIUS LOGO" class="footer-logo__image"/>
            </div>
            <nav class="footer-menu">
                <a href="/" class=" footer-menu__item">Home</a>
                <a href="/why-we/" class=" footer-menu__item">Why we?</a>
                <a href="/prices/" class=" footer-menu__item"><span class="hidden-down-sm">Services and </span>prices</a>
                <!-- <a href="/video-promotion/" class=" footer-menu__item">Video promotion</a> -->
                <a href="/contacts/" class=" footer-menu__item">Contacts</a>
            </nav>
        </div>
        
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="copyright">Copyright © 2019 LEADER HOUSE KFT.</div>
            <nav class="legal-menu">
                <a href="/terms-of-use/" class="legal-menu__item">Terms of use</a>
                <a href="/privacy-policy/" class="legal-menu__item">Privacy policy</a>
            </nav>
        </div>
    </div>
</footer>