<header class="header">
    <div class="header__top">
        <div class="container">
            <a href="/" class="logo">
                <img src="/assets/images/leader_house_logo.svg" alt="MEVIUS INDUSTRIAL" class="logo__image" />
            </a>
            <div class="header__slogan">
                <p><b>Leader House Kft</b> - professional production studio for the creation and production of promotional videos! One of the best companies to record and record effective video ads.!</p>
                <p>Here you can order the development and production of commercials at low prices for display on TV and on the Internet! <a href="/contacts/#order"> > Order promotional video</a></p>
            </div>
            <div class="header__contacts">
                <span class="header__phone">+36&nbsp;3&nbsp;09999706</span>
                <a class="header__mail" href="mailto:info@leaderhungary.com">info@leaderhungary.com</a>
                <address class="header__address">1054 Budapest, Honved utca, 8</address>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <nav class="main-menu">
                <a href="/" class="main-menu__item">Home</a>
                <a href="/why-we/" class="main-menu__item">Why we?</a>
                <a href="/prices/" class="main-menu__item"><span class="hidden-down-sm">Services and</span> prices</a>
                <!-- <a href="/video-promotion/" class="main-menu__item">Video promotion</a> -->
                <a href="/contacts/" class="main-menu__item">Contacts</a>
            </nav>
        </div>
    </div>
</header>