<div class="slider">
    <div class="container">
        <h1 class="slider__title">Have you ordered <br/>the creation and recording <br/>of an <span class="text-main-color">advertising video clip</span>?</h1>
        <div class="slider__description">
            <p>Take advantage of video marketing now!</p>
            <p>Do not let competitors take the first step!</p>
        </div>
        <div class="slider__offer">
            <span class="slider__offer-text">Price from €260, from 3 days<span>*</span></span>
            <a href="/contacts/#order" class="slider__offer-button">Order video now</a>
            <span class="slider__offer-note">These terms and costs correspond to the creation of a video from materials provided by the customer</span>
        </div>
    </div>
</div>

<section class="content-block">
    <div class="container">
        <h2 class="content-block__title">Promotional videos from production studio for small price</h2>
        <div class="content-block__body">
            <div class="content-block__text">
                <p>Advertising on television cannot be imagined without videos. TV commercials are short and catchy videos about a product / service / brand / event, and this type of video advertising is becoming a trend on the Internet. In addition, there is social video advertising.</p>
                <p>You can order any commercial from us. Rest assured - we will make it with high quality, fast and at a low price. Check out our <a href="/prices/"> low priced video ads</a></p>
            </div>
            <div class="content-block__image">
                <img src="/assets/images/promo-video.jpg" alt="Promotional videos from a production studio for a small price" />
            </div>
        </div>
    </div>
</section>

<section class="content-block content-block_bg_gray">
    <div class="container">
        <h2 class="content-block__title">Why are promotional videos needed?</h2>
        <div class="content-block__body">
            <div class="content-block__image">
                <img src="/assets/images/video-ads.jpg" alt="Promotional videos from a production studio for a small price" />
            </div>
            <div class="content-block__text">
                <p>The benefits of video advertising on TV and the Internet are obvious. Of course, this</p>
                <ul>
                    <li> Inevitable attention </li>
                    <li> Increase project audience </li>
                    <li> Viral spread </li>
                    <li> Attracting attention to the new product </li>
                    <li> Retention of a visitor on a site longer than usual (behavioral factors) </li>
                    <li> Company severity score </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="content-block">
    <div class="container">
        <h2 class="content-block__title">Who can’t do without TV commercials?</h2>
        <div class="content-block__body">
            <div class="content-block__text">
                <p>Production of commercials is ordered by companies from industries such as:</p>
                <ul>
                    <li>Medicine, pharmaceuticals, health products</li>
                    <li>Groceries and food products</li>
                    <li>Perfumes and cosmetics, household chemicals</li>
                    <li>Automotive industry</li>
                    <li>Goods for pets</li>
                    <li>Taxi and freight advertising</li>
                    <li>Finance and Banks</li>
                </ul>
            </div>
            <div class="content-block__image">
                <img src="/assets/images/real-people.jpg" alt="Promotional videos from a production studio for a small price" />
            </div>
        </div>
    </div>
</section>

<section class="call-to-action">
    <div class="container">
        <div class="call-to-action__content">
            <h2 class="call-to-action__title">Want to get the benefits of video advertising?</h2>
        </div>
        <a href="/contacts/#order" class="call-to-action__button">Order video now</a>
    </div>
</section>

<!-- <%- page.content %> -->