<div class="prices">
    <div class="container">
        <h1 class="main-title">Price list for video production services</h1>
        <h2 class="table-title">Promotional videos. Promotional video for TV.</h2>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Level:</th>
                <th scope="col">Types of jobs:</th>
                <th scope="col">Cost:</th>
                <th scope="col">Production time:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">Low Level</th>
                    <td>
                        <ul>
                            <li>work with photo and video material of the customer</li>
                            <li>simple installation</li>
                            <li>simple infographic</li>
                            <li>selection of musical composition</li>
                            <li>announcer</li>
                        </ul>
                    </td>
                    <td><strong>from €330</strong></td>
                    <td>from 5 days</td>
                </tr>
                <tr>
                    <th scope="row">Medium Level</th>
                    <td>
                        <ul>
                            <li>script development, storyboard</li>
                            <li>editing, color correction</li>
                            <li>2D - effects, infographics</li>
                            <li>selection / purchase of a musical composition, license</li>
                            <li>announcer</li>
                        </ul>
                    </td>
                    <td><strong>from €660</strong></td>
                    <td>from 10 days</td>
                </tr>
                <tr>
                    <th scope="row">High Level</th>
                    <td>
                        <ul>
                            <li>concept development</li>
                            <li>original script development</li>
                            <li>casting (casting)</li>
                            <li>stage director</li>
                            <li>camera equipment (Black Magik, Panasonic GH5), lighting equipment</li>
                            <li>editing, color correction</li>
                            <li>selection / purchase of a musical composition (license</li>
                            <li>voiceover</li>
                            <li>2D and 3D effects / graphics, computer animation</li>
                        </ul>
                    </td>
                    <td><strong>from €2640</strong></td>
                    <td>from 15 days</td>
                </tr>
                <tr>
                    <th scope="row">Top Level</th>
                    <td>
                        <ul>
                            <li>development and presentation of creative concepts</li>
                            <li>formation of a creative and administrative group</li>
                            <li>multiple scripts / animations</li>
                            <li>casting</li>
                            <li>multi-camera shooting (if necessary) in 4K format</li>
                            <li>stage director</li>
                            <li>camera room (RED Dragon, ARRI) and lighting cinema equipment, special equipment</li>
                            <li>make-up artist, stylist, production designer</li>
                            <li>selection of props, decorations, costumes, pyrotechnics, special effects</li>
                            <li>editing, color correction </span></li>
                            <li>2D and 3D graphics / effects, computer animation</li>
                            <li>selection / purchase of a musical composition (license)</li>
                            <li>writing author's music, corporate jingle</li>
                            <li>sound design</li>
                            <li>voiceover</li>
                        </ul>
                    </td>
                    <td><strong>from €7920</strong></td>
                    <td>from 25 days</td>
                </tr>
            </tbody>
        </table>

        <h2 class="table-title">Infographics. 2D and 3D animated videos.</h2>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Level:</th>
                <th scope="col">Types of jobs:</th>
                <th scope="col">Cost:</th>
                <th scope="col">Production time:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">Low Level</th>
                    <td>
                        <ul>
                            <li>simple animation of customer’s photo and video materials</li>
                            <li>easy installation</li>
                            <li>simple infographics</li>
                            <li>selection of a musical composition</li>
                        </ul>
                    </td>
                    <td><strong>from €330</strong></td>
                    <td>from 3 days</td>
                </tr>
                <tr>
                    <th scope="row">Medium Level</th>
                    <td>
                        <ul>
                            <li>animation of customer’s photos and videos</li>
                            <li>shooting (if necessary)</li>
                            <li>easy installation</li>
                            <li>infographics</li>
                            <li>selection of a musical composition</li>
                            <li>voiceover</li>
                        </ul>
                    </td>
                    <td><strong>from €660</strong></td>
                    <td>from 5 days</td>
                </tr>
                <tr>
                    <th scope="row">High Level</th>
                    <td>
                        <ul>
                            <li>razrabotkastsenariya</li>
                            <li>2D - i 3D - grafika/effekty; komp'yuternaya animatsiya</li>
                            <li>montazh, tsvetokorrektsiya</li>
                            <li>podbor muzykal'noy kompozitsii</li>
                            <li>diktorskoye ozvuchaniye</li>
                        </ul>
                    </td>
                    <td><strong>from €1050</strong></td>
                    <td>from 10 days</td>
                </tr>
                <tr>
                    <th scope="row">Top Level</th>
                    <td>
                        <ul>
                            <li>concept development</li>
                            <li>developing multiple scripts</li>
                            <li>2D and 3D graphics / effects; computer animation</li>
                            <li>visualization and 3D modeling of objects</li>
                            <li>editing, color correction</li>
                            <li>selection / purchase of a musical composition (license)</li>
                            <li>authoring music</li>
                            <li>voiceover</li>
                        </ul>
                    </td>
                    <td><strong>from €1580</strong></td>
                    <td>from 20 days</td>
                </tr>
            </tbody>
        </table>

        <h2 class="table-title">Corporate video. Films about the company.</h2>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Level:</th>
                <th scope="col">Types of jobs:</th>
                <th scope="col">Cost:</th>
                <th scope="col">Production time:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Medium Level</th>
                    <td>
                        <ul>
                            <li>script development</li>
                            <li>easy installation</li>
                            <li>2D - effects, infographics</li>
                            <li>selection of a musical composition</li>
                            <li>voiceover</li>
                        </ul>
                    </td>
                    <td><strong>from €790</strong></td>
                    <td>from 10 days</td>
                </tr>
                <tr>
                    <th scope="row">High Level</th>
                    <td>
                        <ul>
                            <li>original script development</li>
                            <li>casting (casting)</li>
                            <li>multi-camera shooting (if necessary)</li>
                            <li>stage director</li>
                            <li>camera technology, lighting</li>
                            <li>editing, color correction</li>
                            <li>selection / purchase of a musical composition (license)</li>
                            <li>voiceover</li>
                            <li>2D and 3D effects / graphics, computer animation</li>
                        </ul>
                    </td>
                    <td><strong>from €2100</strong></td>
                    <td>from 20 days</td>
                </tr>
                <tr>
                    <th scope="row">Top Level</th>
                    <td>
                        <ul>
                            <li>creative concept development</li>
                            <li>formation of a creative and administrative group</li>
                            <li>developing multiple scripts</li>
                            <li>casting (casting)</li>
                            <li>multi-camera shooting (if necessary) in 4K format</li>
                            <li>stage director</li>
                            <li>camera and lighting cinema equipment, special equipment</li>
                            <li>make-up artist, stylist, production designer</li>
                            <li>selection of props, decorations, costumes, pyrotechnics, special effects</li>
                            <li>editing, color correction</li>
                            <li>2D and 3D graphics / effects, computer animation</li>
                            <li>selection / purchase of a musical composition (license)</li>
                            <li>authoring music</li>
                            <li>sound design</li>
                            <li>voiceover</li>
                        </ul>
                    </td>
                    <td><strong>from €7900</strong></td>
                    <td>from 30 days</td>
                </tr>
            </tbody>
        </table>


        <h2 class="table-title">Event Video Recording.</h2>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Level:</th>
                <th scope="col">Types of jobs:</th>
                <th scope="col">Cost:</th>
                <th scope="col">Production time:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">High Level</th>
                    <td>
                        <ul>
                            <li>scenario plan</li>
                            <li>multi-camera shooting (if necessary) in 4K format</li>
                            <li>stage director</li>
                            <li>camera technology, lighting</li>
                            <li>editing, color correction</li>
                            <li>selection / purchase of a musical composition (license)</li>
                            <li>narration (if necessary)</li>
                            <li>2D and 3D effects / graphics, computer animation</li>
                        </ul>
                    </td>
                    <td><strong>from €530</strong></td>
                    <td>from 5 days</td>
                </tr>
            </tbody>
        </table>

        <section class="price-notes">
            <h2 class="price-notes__title">Notes</h2>
            <ul>
                <li>All prices are in уuros, excluding taxes.</li>
                <li>The final cost of producing videos depends on specific tasks and conditions. It is established in the form of estimates. For example, an advertising video and a corporate film are 2 big differences.</li>
                <li>For urgent performance of works, the increasing coefficient is applied to the total cost: <br>
                    if the term is reduced by 1/3 of the terms indicated in the price list - 1.2 <br>
                    while reducing the time by 2 times from the terms indicated in the price list - 1.5.</li>
                <li>The cost of consumables (hard drives, props, decoration, etc.) is not included in the cost of services and is paid separately.</li>
                <li>Payment of actors' labor is not included in the cost of services and is negotiated separately with the actors themselves or their agents.</li>
                <li>Filming and installation and tinting work are carried out strictly according to the approved scenario, changes in the scenario at the production or postproduction stage that occurred on the initiative of the customer or third parties are paid extra.</li>
                <li>A film shift is understood as 10 hours of the film crew’s work (including all necessary movements, installation and tuning of light, sound and other necessary equipment) plus 1 hour break.</li>
            </ul>
        </section>
    </div>
</div>
<section class="call-to-action">
    <div class="container">
        <div class="call-to-action__content">
            <h2 class="call-to-action__title">Want to get the benefits of video advertising?</h2>
            <div class="call-to-action__description">
                
            </div>
        </div>
        <a href="/contacts/#order" class="call-to-action__button">Order video now</a>
    </div>
</section>


