<div class="container">
    <h1 class="main-title">The benefits of working with our studio</h1>

    <div class="main-description">
        <p>So why are we all the same? EVERYTHING IS SIMPLE! The fact is that shooting and making an advertising video with us is:</p>
        <ol>
            <li>A non-standard approach and individual consideration of each order. You will receive a concept and an advertising video just for your company and business.</li>
            <li>High quality standards for custom-made video production. We use only modern professional cinema equipment, high-speed editing stations, licensed software, the latest programs for 3D modeling and visualization, our own database of render farms.</li>
            <li>Compliance of the created advertising video with all the latest standards for TV and for the Internet.</li>
            <li>Huge and successful experience of our specialists. Choosing our studio, you can be sure that a professional team is involved in the production of your video advertising.</li>
            <li>Minimum production time while maintaining high quality!</li>
            <li>Its base of professional announcers, actors, experts, agents and consumers. We will select the necessary announcer, actor, expert or casting for your video. Also, if necessary, we will attract any stars of show business to the shootings.</li>
            <li>Promotion of your advertising video and business as a whole by our specialists. Video advertising not only needs to be removed, but it is also necessary to attract attention and increase the number of views of your potential customers and consumers.</li>
            <li>Flexible pricing system for the production of commercials. For any of your budget, we will make several optimal offers.</li>
            <li>All these and many other advantages of the MEVIUS Industrial Co. really make it one of the best video advertising production companies!</li>
        </ol>
    </div>
</div>

<section class="content-block">
    <div class="container">
        <h2 class="content-block__title content-block__title_mb_25">Professional equipment for video production of advertising</h2>
        <div class="content-block__body">
            <div class="content-block__text content-block__text_flex_100">
                <p>To get a high-quality picture and animation, we, at the Weekend Production video advertising agency, use only professional cinema equipment for shooting advertising videos, due to which we can always guarantee excellent results at a competitive cost for the production of advertising video material for TV and the Internet.</p>
            </div>
        </div>
        <div class="equipments-list">
            <div class="equipment">
                <div class="equipment__text">
                    <h3 class="equipment__title">Camera Canon Mark III</h3>
                    <div class="equipment__description">
                        <p>unit has an expanded set of video options and features. Its main advantage is that it is full-matrix. And that means:</p>
                        <ul>
                            <li>high photosensitivity due to the large pixel;</li>
                            <li>the possibility of using optics without taking into account the "crop factor";</li>
                            <li>beautiful picture due to the shallower depth of field;</li>
                            <li>wide angle of view even when using telephoto and zoom lenses.</li>
                        </ul>
                        <p>In addition, in fact, the ability to shoot HD quality video with a frequency of 24 to 60 frames per second, there is a built-in microphone and autofocus.</p>
                    </div>
                </div>
                <div class="equipment__image">
                    <img src="/assets/images/canon_mark_5d.jpg" alt="Camera Canon Mark III"/>
                </div>
                
            </div>
            <div class="equipment">
                <div class="equipment__text">
                    <h3 class="equipment__title">Camera Вlackmagic 4k</h3>
                    <div class="equipment__description">
                        <p>The key to high-quality image of the camera is a high-resolution photosensitive matrix. It forms such a high-quality image, being a video camera for convenience, mobility and compactness.</p>
                        <p>Due to the wide dynamic range (color and light coverage) of 13 stops (1 stop is one step of the diaphragm), the black magic camera perfectly conveys not only the primary colors, but also forms a beautiful shadow and penumbra pattern.</p>
                    </div>
                </div>
                <div class="equipment__image">
                    <img src="/assets/images/blackmagic4k.jpg" alt="Camera Вlackmagic 4k"/>
                </div>
            </div>
            <div class="equipment">
                <div class="equipment__text">
                    <h3 class="equipment__title">Камера Red Epic</h3>
                    <div class="equipment__description">
                        <p>The camera has compact dimensions and a wide angle of view. Another undoubted advantage of this equipment is its compatibility with third-party lenses - Canon, Nicon, Sony.</p>
                        <p>RED EPIC has outstanding features:</p>
                        <ul>
                            <li>high definition and image resolution through the use of an enlarged matrix;</li>
                            <li>a wide range of photosensitivity to avoid problems when shooting scenes with contrast and complex lighting;</li>
                            <li>shooting images in RAW format, which opens up the widest possibilities for post-processing;</li>
                            <li>wide speed range - from 1 frame in 15 minutes to 120 frames per second with a decrease in resolution to 4K.</li>
                        </ul>
                    </div>
                </div>
                <div class="equipment__image">
                    <img src="/assets/images/redepic.jpg" alt="Камера Red Epic">
                </div>
            </div>
            <div class="equipment">
                <div class="equipment__text">
                    <h3 class="equipment__title">Camera Arri Alexa</h3>
                    <div class="equipment__description">
                        <p>The most important thing in this device is the highest image quality, which even a specialist cannot distinguish from what a classic movie camera that shoots 35 mm film produces.</p>
                    </div>
                </div>
                <div class="equipment__image">
                    <img src="/assets/images/arrialexa.jpg" alt="Camera Arri Alexa">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="call-to-action">
    <div class="container">
        <div class="call-to-action__content">
            <h2 class="call-to-action__title">Want to get the benefits of video advertising?</h2>
            <div class="call-to-action__description">
                
            </div>
        </div>
        <a href="/contacts/#order" class="call-to-action__button">Order video now</a>
    </div>
</section>